@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: SusseWorks ;
    src: url(../public/Fonts/SuisseWorks-Bold-v1.woff2);
}

.PopDown{
    animation: PopDown 1s ;
}

@keyframes PopDown {
    0% {
        scale: 0.8;
    }
    10% {
        scale: 1;
    }
}