@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SusseWorks;
    src: url(../public/Fonts/SuisseWorks-Bold-v1.woff2);
}

.showliwrapper:hover  .showli {
    display: block !important;
}

.showlimiddle:hover .showlastli{
    display: block !important;
}

.PopDown {
    animation: PopDown 1s;
}

@keyframes PopDown {
    0% {
        scale: 0.8;
    }
    10% {
        scale: 1;
    }
}
