@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SusseWorks;
    src: url(../public/Fonts/SuisseWorks-Bold-v1.woff2);
}

body {
    @apply overflow-x-hidden;
}

.swiper-button-disabled {
    @apply !hidden;
}

.showliwrapper:hover .showli {
    display: block !important;
}

.showlimiddle:hover .showlastli {
    display: block !important;
}

.PopDown {
    animation: PopDown 1s;
}

@keyframes PopDown {
    0% {
        scale: 0.8;
    }
    10% {
        scale: 1;
    }
}

.spinner {
    position: relative;
    width: 100vw;
    height: 100vh;
    @apply bg-liColor;
}

.cube1,
.cube2 {
    background-color: #ffffff;
    width: 15px;
    height: 15px;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    -webkit-animation: sk-cubemove 1.8s infinite ease-in-out;
    animation: sk-cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes sk-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes sk-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
